@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: "Lato" sans-serif;
    margin: 0;
 }

 /* .................Headings */

 a {
     text-decoration: none;
 }
 
 .uppercase {
     text-transform: uppercase;
 }

 .inline-block li{
     display: inline-block ;
     margin: 15px;
     font-weight: 700;
 }