@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*...................... Navigation bar............................*/

.navbar {
    background: rgb(126,126,138);
    background: radial-gradient(circle, rgba(126,126,138,1) 0%, rgba(255,255,255,1) 70%, rgba(233,233,233,1) 100%);
    border-bottom: 2px black thick;
}

.navbar-brand {
    margin-left: 40px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 25px;
    margin: 0 2em 0 auto;
}

.nav-item {
    padding: 10px;
    justify-content: right;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.9);
}

.shop-link {
    text-decoration: none;
    color: #777777;
}

.navbar-toggler-icon {
    width: 2.5em;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: transparent;
}

/*.........................................................Navigation bar*/

/*.........................Dropdown Menu.............................*/

.dropdown-menu {
    font-size: 1.25rem;
    font-weight: 700;
}

#dropdownMenu {
    color: #777777;
    padding: 8px;
    margin-top: 10px;
}

.dropdown-menu-dark {
    background: radial-gradient(circle, rgba(126,126,138,1) 0%, rgba(255,255,255,1) 70%, rgba(233,233,233,1) 100%);
}

.dropdown-menu-dark .dropdown-item {
    color: #777777;
}

/*.......................................................Dropdown Menu*/

/*............................Hover effects.................*/

.hvr-underline-from-left:before {
    background: #1FC58E;
}

.dropdown-menu-dark .dropdown-item:focus, .dropdown-menu-dark .dropdown-item:hover {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgba(0,0,0,.9);
}

/*..............................................Hover effects*/

/*............................Carousel Slider..............*/

.newsletter-carousel {
    padding-top: 100px;
    background: #1FC58E;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.newsletter-carousel h1 {
    color: #191414;
    font-size: 100px;
    font-weight: 900;
} 

.newsletter-carousel p {
    color: #191414;
    font-size: 50px;
    font-weight: 800;
}

.image-brightness {
    filter: brightness(55%);
}

.carousel-caption h1 {
    color: #1FC58E;
    font-size: 100px;
    font-weight: 900;
}

.carousel-caption p {
    color: #1FC58E;
    font-size: 50px;
    font-weight: 800;
}

/*..............................................Carousel Slider*/

/*...................... Buttons......................*/

.btn {
    background-color: #1FC58E;
    color: #191414;
    font-weight: 700;
}

#btn-newsletter {
    background-color: #FAE62D;
    margin-top: 20px;
}

#btn-newsletter:hover {
    color: #191414;
}

.btn-secondary:hover {
    color:#1FC58E;
    background-color: #191414;
}

.btn-lg {
    margin-top: 5px;
}

/*..................................................Buttons*/

/*...................... Font Awesome Icons......................*/

.fab, .far {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1rem;
}

.fa-hand-point-down {
    display: block;
}

/*............................................Font Awesome Icons*/

.headings {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px;
}

.subheading {
    font-size: 35px;
    font-weight: 500;

}

.shop-container {
    padding-bottom: 30px;
}

.media-body {
    padding-top: 30px;
}

#address p {
    margin-top: -10px;
    margin-right: -30px;
    text-align: right;
}

/*.............About Me...........................*/

.aboutme-container {
    background: #1FC58E;
}

.aboutme-title {
    text-align: center;
}

.aboutme-flex-container {
    background: #1FC58E;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}    

.aboutme-text {
    width: 670px;
    height: 350px;
    padding-left: 8rem;
    text-align: justify;
    font-size: 1.5rem;
}

.aboutme-picture-text {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#row-reverse {
    flex-direction: row-reverse;
}

#aboutme-text-reverse {
    width: 670px;
    height: 400px;
    padding-right: 8rem;
    text-align: justify;
    font-size: 1.5rem;
}

/*.................................................About Me*/

.gradient-border-testimonial {
    height: 300px;
    width: 300px;
    border: #FAE62D calc(16px + 0.2vw) solid;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30%;
    background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
}

.gradient-border {
    height: 500px;
    width: 500px;
    border: #FAE62D calc(16px + 0.2vw) solid;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30%;
    background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
    box-sizing: border-box;
}

/*.............Shop, Vinyl...........................*/

.vinyl-container {
    padding-left: 0px;
    padding-right: 0px;
}

.vinyl-catalogue {
    background: #1FC58E;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    border: #FAE62D 5px solid;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

/*.......................................Shop, Vinyl*/

/*.............Contact Us...........................*/

.contactus-row h1 {
    color: #1FC58E;
    font-size: 100px;
    font-weight: 900;
    align-items: center;
    padding-top: 325px;
}

.contactus-enquiry {
    font-size: 1.5rem;
}

.contactus-container {
    height: 100vh;
    background: url(../images/mirta-fratnik-mUdgPzG4BG4-unsplash.jpg) no-repeat bottom right fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: top;
    justify-content: center;
    position: relative;
}

.form-label {
    font-size: 1.5rem;
}

.get-in-touch-container {
    background: #1FC58E;
    padding-top: 30px;
    padding-bottom: 30px;
}

.carousel-item {
    height: 650px;
}

/*.......................................Contact Us*/


/*....................flex footer.........*/

.footer-container {
    background: rgb(126,126,138);
    background: radial-gradient(circle, rgba(126,126,138,1) 0%, rgba(255,255,255,1) 70%, rgba(233,233,233,1) 100%);
}

.flex-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: rgb(126,126,138);
    background: radial-gradient(circle, rgba(126,126,138,1) 0%, rgba(255,255,255,1) 70%, rgba(233,233,233,1) 100%);
    border-bottom: 2px black thick;
}

.address-footer {
    display: inline-flex;
    align-items: center;
}

#address-map-footer {
    margin-left: 4rem;
}

.social-link {
    color: #212529;
    text-decoration: none;
}

.socials-items li {
    display: inline-block;
    font-weight: 700;
    margin: 15px;
}

.get-social {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

/*...................................Media Queries*/

@media (min-width: 576px) { 
    .navbar-toggler {
    display: none;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
    }
}

@media (max-width: 1270px) {
    .nav-item {
        padding: 5px;
    }
}

@media (max-width: 1270px) {
    .navbar-nav {
        margin: 0 0 0 auto;
    }
}


@media (max-width: 576px) {
    .newsletter-carousel {
        padding-top: 20px;
    }
    .newsletter-carousel h1 {
        font-size: 50px;
        width: 100%;
    }
    .carousel-caption h1 {
        font-size: 50px;
        padding-bottom: 30px;
        width: 100%;
    }
    .carousel-caption span {
        font-size: 1.30rem;
    }
    #turntable-carousel h1 {
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
    #turntable-carousel p {
        line-height: 1.2;
    }
    .icons { 
        display: none;
    }
    .media-body {
        padding-bottom: 1.5rem;
    }
    .shop-headings {
        padding-top: 0px;
    }
    .aboutme-picture-text {
        flex-direction: column;
    }
    .gradient-border {
        height: 300px;
        width: 300px;
        margin-bottom: 30px;
    }
    #row-reverse {
        flex-direction: column;
    }
    #aboutme-text-reverse {
        margin-bottom: 100px;
        width: auto;
        font-size: 1.35rem;
        padding-right: 0;
    }
    .aboutme-text {
        width: auto;
        font-size: 1.35rem;
        padding-left: 0;
    }
    .contactus-row h1 {
        text-align: center;
    }
    .contactus-enquiry {
        font-size: 1.35rem;
    }
    .form-label {
        font-size: 1.35rem;
    }
    #address-map-footer {
        display: none;
    }
    .socials-footer {
        width: 100%;
        order: 1;
    }
    .logo-footer .address-footer {
        order: 3;
        display: inline-flex;
    }
}

@media (max-width: 768px) {
    #address-map-footer {
        display: none;
    }
    .socials-footer {
        width: 100%;
        order: 1;
    }
    .logo-footer .address-footer {
        order: 3;
        display: inline-flex;
        width: 50%;
    }
    .socials-items {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .col { display: none;
    }
}

@media (min-width: 992px) {
    .socials-only-sm { display: none;
    }
}


/*.............................................Media Queries*/




