@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: "Lato" sans-serif;
 }

 /* .................Headings */

.navbar-expand-sm {
    font-weight: 300;
    font-size: small;
    text-rendering: auto;
}


.navbar-nav {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 25px;
    margin: 0 0 0 auto;
    padding-right: 50px;
}

.nav-item, nav-link{
    padding: 15px;     
}

 img {
     height: 125px;
     width: 125px;
 }
